*/Makefile*
*/vc100.pdb
*/debug/
*/release/
chatterbox/chatterbox.pro.user
chatterboxd/chatterboxd.pro.user
chatterboxd/ChatterBoxServer.o
CAS-Netzwerk.vcxproj*
Debug/
Release/
*.1
*.xcodeproj
.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
chatterbox-build-desktop-Qt_4_8_0_in_Pfad__System__Debug/
chatterboxd-build-desktop-Qt_4_8_0_in_Pfad__System__Debug/