*/Makefile*
*/vc100.pdb
*/debug/
*/release/
chatterbox/chatterbox.pro.user
chatterboxd/chatterboxd.pro.user
chatterboxd/ChatterBoxServer.o
CAS-Netzwerk.vcxproj*
Debug/
Release/
*.1
*.xcodeproj
.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
Makefile
qtgesamt.pro.user
