*/Makefile*
*/vc100.pdb
*/debug/
*/release/
chatterbox/chatterbox.pro.user
chatterboxd/chatterboxd.pro.user
chatterboxd/ChatterBoxServer.o
*.vcxproj*
Debug/
Release/
*.1
*.xcodeproj
.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
Makefile
qtgesamt.pro.user
chatterbox-build-desktop-Qt_4_8_0_in_Pfad__System__Debug/
chatterboxd-build-desktop-Qt_4_8_0_in_Pfad__System__Debug/
chatterbox/MainWindow.o
chatterbox/chatterbox.app/Contents/Info.plist
chatterbox/chatterbox.app/Contents/MacOS/chatterbox
chatterbox/chatterbox.app/Contents/PkgInfo
chatterbox/chatterbox.app/Contents/Resources/empty.lproj
chatterbox/main.o
chatterbox/moc_MainWindow.cpp
chatterbox/moc_MainWindow.o
chatterbox/qrc_images.cpp
chatterbox/qrc_images.o
chatterboxd/CAS.o
chatterboxd/chatterboxd.app/
chatterboxd/lexer.o
chatterboxd/main.o
chatterboxd/moc_ChatterBoxServer.cpp
chatterboxd/moc_ChatterBoxServer.o

